
/* IMAGEM DA FATEC */

.container > img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}


.container{
    border-radius: 3px;
    margin: 30px;
    background: #FFFFFF;
    box-shadow: 5px 6px 4px rgba(0, 0, 0, 0.25);
    padding: 15px;
}

.container h1 {
    text-align: center;
    color: #3070EC;
    font-size: 2.5rem;
}
.container h2 {
    text-align: start;
    font-size: 1.5rem;
}
.texto{
    text-align: justify;
    font-size: 1.25rem;
    
}
