/* IMAGEM DA FATEC */

.container > img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}
/* TEXTO SOBRE A FATEC */

.container{
    border-radius: 3px;
    margin: 30px;
    background: #FFFFFF;
    box-shadow: 5px 6px 4px rgba(0, 0, 0, 0.25);
    padding: 15px;
}

.container h1 {
    text-align: center;
    font-size: 2.5rem;
}
.texto{
    text-align: justify;
    font-size: 1.25rem;
    
}
.container h2{
    text-align: start;
}
@media (max-width:800px){
    .texto{
        font-size: 1.1rem;
    }
}

.center
{
  display: flex;
  justify-content: center;
}

#video 
{ 
  width: 75.64vh !important; 
  height: 44.68vh; 
}


@media only screen and (max-width: 600px) {
    #video 
    { 
      width: 75.64vh !important; 
      height: 25vh; 
    }
}


