.container{
    border-radius: 3px;
    margin: 30px;
    background: #FFFFFF;
    box-shadow: 5px 6px 4px rgba(0, 0, 0, 0.25);
    padding: 15px;
}

.cursos
{
  display: flex;
  flex-wrap: wrap;
margin: 0 auto;
}

 a:hover 
{
  transform: scale(1.2);
}

.cursos img
{
  width: 30vh;
  height: 30vh;
}

a > img 
{ 
  width: 20vh;
  padding: 1.65vh;
}
