.container{
    border-radius: 3px;
    margin: 30px;
    background: #FFFFFF;
    box-shadow: 5px 6px 4px rgba(0, 0, 0, 0.25);
    padding: 15px;
}

h1{
  text-align: center;
  font-size: 2.5rem;
}
.texto-imagens{
  text-align: justify;
  font-size: 1.25rem;
  color: #838282;
}

.graduacao
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.graduacao a:hover 
{
  transform: scale(1.2);
}

.graduacao img
{
  width: 30vh;
  height: 30vh;
}

.graduacao a > img 
{ 
  padding: 1.65vh;
}



.texto{
  text-align: justify;
  font-size: 1.25rem;
}

button{
  color:#fff;
  background-color: #b20000;
  border-radius: 2px;
  padding: 10px;
  border: #b20000;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
  font-size: 1.15rem;
  font-family: 'Poppins';
}